@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
body{
	margin:0px;
	overflow-y:hidden;
	background: #d2d6de;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
div#mainForm {
    background: #fff;
    width: 370px;
    height: 500px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
div#mainForm h1{
    margin: 0 auto;
    width: 100%;
    color: #333;
    margin-bottom: 4%;
    text-align: center;
}
.log_head p {
    margin: 0px;
    margin-bottom: 10px;
}
.log_head {
    background: #22273D;
    color: #fff;
    height: 230px;
    box-sizing: border-box;
    padding-top: 66px;
    text-align: center;
}
#div_form {
    /*background: #fff;*/
    /*width: 370px;*/
    /*height: 500px;*/
    /*!*position: absolute;*!*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*margin: auto;*/
}
div#sign_in {
    font-size: 14px;
    margin: 0 auto;
    width: 135px;
    text-align: center;
    padding: 10px 20px 15px 20px;
    color: #666;
}
div#login {
	position: relative;
	margin: 0px auto;
	width: 230px;
    overflow: hidden;
    margin-top: 50px;
}
.input_user {
    margin-bottom: 15px;
    position: relative;
}
.input_user input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    padding-left: 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #969CB5;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #BEC3D4;
    outline: none;
    box-sizing: border-box;
}
.input_user input:focus {
    border-color: #3c8dbc;
    box-shadow: none;
}
span.icon_input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #777;
}
/*#login_but{*/
    /*padding: 6px 12px;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
    /*cursor: pointer;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
    /*background-color: #3C8DBC;*/
    /*border-color: #3C8DBC;*/
    /*color: #fff; */
	/*outline: none; */
	/*float:right;*/
/*}*/
/*#login_but:hover{*/
	/*background-color: #367fa9;*/
/*}*/
#login_but{
    float: right;
    border: none;
    width: 100%;
    height: 40px;
    background: #42C9F5;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
}