/******************************************FONTS START***************************************/
/*@font-face {*/
/*	font-family: 'HelveticaBold';*/
/*	src: url('Helvetica/OpenSans-Bold.ttf');*/
/*}*/
/*@font-face {*/
/*	font-family: 'HelveticaRegular';*/
/*	src: url('Helvetica/OpenSans-Regular.ttf');	*/
/*}*/
/******************************************FONTS FINISH**************************************/

/******************************************STATICS STYLE START*******************************/
/**{outline: none;}*/
/*body{font-family: Sans-Serif; color: #6D6364;margin:0px;padding:0px}*/
/*label{margin:0px;cursor:pointer}*/
/*a{outline:none;text-decoration: none;color:inherit; display: inline-block; height: 100%;}*/
/*a:hover{outline:none;text-decoration:none;color:inherit;background-color: transparent;}*/
/*a:focus{outline: none;text-decoration: none;color:inherit}*/
/*p{margin:0px}*/
/*ul{list-style-type:none;margin:0px;padding:0px}*/
/*.clear:after{content:"";display:block;clear:both}*/
/*.nopad{padding:0px !important;}*/
/*.nopadleft{padding-left:0px}*/
/*.nopadright{padding-right:0px}*/
/*.content{max-width: 1280px;position: relative;margin: 0px auto;  box-sizing: border-box;}*/
/*.bor{border:1px dotted green}*/
/*button {cursor: pointer;}*/
/*section {min-height: 420px;}*/
/*textarea {resize: none;}*/
/*div {box-sizing: border-box}*/
/******************************************STATICS STYLE FINISH*******************************/
/******************************************HEADER STYLE START*******************************/
.header{
	box-shadow: 0 4px 10px rgba(0, 10, 30, 0.04);
}
.info_header{
	width: 100%;
	height: 60px;
	background: linear-gradient(93.9deg, #3F8CF6 12.59%, #1F7DFF 87.5%);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.row_head{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
}
.close{
	position: absolute;
	right: 0;
	margin-right: 15px;
}
.header_wrap{
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 68px;
	height: 68px;
}
.header-content {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-left: 64px;
	background: #FFFFFF;
}
.nav > ul{
	display: flex;
}
.nav > ul >li{
	margin-left: 64px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;

}
.nav > ul >li:nth-child(1){
	margin-left: 0;
}
.nav > ul >li >img{
	margin-left: 5px;
	width: 8px;
	height: 8px;
}
.social_nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social_nav >ul{
	display: inline-flex;
	padding: 0;
}
.social_nav >ul >li{
	width: 28px;
	height: 28px;
	border-radius: 14px;
	border: 1px solid rgba(63, 140, 246, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 14px;

}
.social_nav > ul > li > a {
	display: inline-flex;
	height: 100%;
	align-items: center;
}
.lang_drop{
	width: 53px;
	height: 34px;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	border-radius: 17px;
	display: flex;
	align-items: center;
}
.donate_btn{
	width: 153px;
	height: 46px;
	background: #FC4E58;
	border-radius: 14px 0px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-icon-box {
	display: none;
}
.flag > img{
	height: 24px;
	border:2px solid #3F8CF6;
	border-radius: 15px;
	margin-left: 2px;
}
.arrow_down{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
/******************************************HEADER STYLE FINISH*******************************/
@font-face {
	font-family: 'DejaVu-Regular';
	font-style: normal;
	font-weight: 400;
	src: local('DejaVu Sans'), local('DejaVu-Sans'),
	url('../fonts/djsans/dejavusans.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/djsans/dejavusans.woff') format('woff'), /* Modern Browsers */
	url('../fonts/djsans/dejavusans.ttf') format('truetype') /* Safari, Android, iOS */
}

* {
	font-family: 'DejaVu-Regular', sans-serif;
	font-weight: normal;
	color: #404349;
}
body {
	position: relative;
	margin: 0;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.content {
	position: relative;
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	border: 1px solid grey;
}
.content .buttons-box {
	text-align: center;
}
.content .buttons-box > button {
	margin-right: 20px;
}
.content .buttons-box > button:last-child {
	margin-right: 0;
}
.content > .gallery-box {
	flex-wrap: wrap;
}
.content > .gallery-box > figure > .img-box > img {
	height: 100%;
	width: auto;
}
.content > .gallery-box > figure:nth-child(3n + 2) {
	margin: 0 20px;
}
.content > .gallery-box > figure > .title {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin: 20px 0 10px 0;
}
.content > .gallery-box > figure > .desc {
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 40px 0;
}
.content > .content-box > h1 {
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	margin: 0 0 40px 0;
}
.content > .content-box > p.main-description {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 0 0 30px 0;
}
.content.main-heading-box > .content-box {
	max-width: 630px;
	text-align: center;
	margin: 0 auto;
}
.content.main-heading-box {
	overflow: hidden;
}
.content.main-heading-box > .img-box {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	border-radius: 0;
	z-index: -1;
}
.bg-opacity {
	position: relative;
}
.bg-opacity:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #3F8CF6;
	opacity: 0.04;
	z-index: -2;
}
.bg-opacity:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	background-image: url("../img/white-line.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}
.bg-ellipsis-box {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.bg-ellipsis-box > .img-box {
	position: relative;
	border-radius: 0;
	/*border: 1px solid red;*/
	width: 50%;
	height: 100%;
}
.bg-ellipsis-box > .img-box > img {
	position: absolute;
	height: 642px;
	width: 642px;
}
.bg-ellipsis-box > .img-box:nth-child(1) {
	float: left;
}
.bg-ellipsis-box > .img-box:nth-child(1) > img {
	left: -252px;
	bottom: 125px;
	transform: rotate(270deg);
}
.bg-ellipsis-box > .img-box:nth-child(2) {
	float: right;
}
.bg-ellipsis-box > .img-box:nth-child(2) > img {
	right: 0;
	bottom: 50px;
}
p.txt-content {
	max-width: 655px;
	margin: 0 auto !important;
}
p.txt-content-wide {
	width: auto;
	margin: 0 150px !important;
	text-align: left !important;
}
.heading-content-wide {
	margin: 0 150px;
}
.share-box {
	background: #FFFFFF;
	box-shadow: 0 10px 50px rgba(35, 33, 69, 0.2);
	border-radius: 5px;
	padding: 16px 0;
	margin: 80px 0 70px;
}
.share-box p {
	display: inline-block;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
section {
	padding: 50px 0;
}
a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: inherit;
}
textarea {
	resize: none;
}
input,
textarea,
.select {
	width: 100%;
	padding: 31px 49px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
}
input::placeholder,
textarea::placeholder {
	font-family: 'DejaVu-Regular', sans-serif;
	font-weight: normal;
	color: #404349;
	font-size: 16px;
	line-height: 24px;
}
input:focus,
textarea:focus,
.select:focus {
	outline: 0;
	border: 1px solid #3F8CF6;
}
label {
	display: inline-block;
	font-size: 24px;
	line-height: 40px;
	margin: 50px 0 12px;
}
button {
	display: inline-block;
	border-radius: 14px 0;
	font-size: 12px;
	line-height: 14px;
	border: 1px solid transparent;
}
button:hover,
button:active,
button:focus {
	outline: none;
}
button:hover {
	border: 1px solid #316ADC;
	background-color: #316ADC;
	color: #FFFFFF;
}
.buttons-box.submit-btn-box {
	margin: 40px 0 0 0;
}
.buttons-box.submit-btn-box > button {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	width: 100%;
}
.btn-colored {
	background: #3F8CF6;
	color: #FFFFFF;
}
.btn-important {
	background: #FC4E58;
	color: #FFFFFF;
}
.btn-bordered {
	background: #FFFFFF;
	border: 1px solid #3F8CF6;
	color: #3F8CF6;
	text-align: center;
}
.btn-bordered-inverse {
	background: #3F8CF6;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	text-align: center;
}
button > a {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 16px 42px;
	box-sizing: border-box;
	cursor: pointer;
}
.bordered-field {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	border-radius: 24px 0;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
}
.img-box {
	position: relative;
	overflow: hidden;
	background: transparent;
	box-sizing: border-box;
	border-radius: 26px 0;
}
.img-box > img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
}
.flex-content {
	display: flex;
	flex-direction: row;
}

#_home-page {
	position: relative;
	min-height: calc(100vh - 120px);
	width: 100%;
	padding: 93px 0 64px;
	overflow: hidden;
	box-sizing: border-box;
}
#_ellipse {
	position: absolute;
	bottom: 64px;
	right: 0;
	z-index: -1;
}
#_home-page > .content > .content-box {
	margin-bottom: 90px;
}
#_home-page > .content > .content-box > div {
	flex: 1;
}
#_home-page > .content > .content-box > div:nth-child(1) > #_about-company {
	position: relative;
}
.red-line {
	position: relative;
	padding-left: 18px;
}
.red-line:before {
	position: absolute;
	content: '';
	display: block;
	background: #FC4E58;
	width: 4px;
	height: 100%;
	border-radius: 3px;
	left: 0;
	top: 0;
}
#_home-page > .content > .content-box > div:nth-child(1) > #_about-company > p {
	margin: 0;
	font-size: 14px;
	line-height: 44px;
}
#_home-page > .content > .content-box > div:nth-child(1) > h2 {
	font-size: 26px;
	margin: 30px 0 40px;
}
#_home-page > .content > .content-box > div:nth-child(1) > h2 > span {
	font-weight: 900;
	line-height: 42px;
}
#_home-page > .content > .content-box > div:nth-child(1) > p {
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 50px;
}
#_home-page > .content > .content-box > div:nth-child(1) > button.btn-colored {
	margin-right: 20px;
}
#_home-page > .content > .content-box > div:nth-child(2) > .img-box {
	width: 600px;
	float: right;
}
#_home-page > .content > #_our-doners-block > p {
	font-size: 14px;
	line-height: 44px;
	margin: 0 0 20px;
	text-align: center;
}
#_home-page > .content > #_our-doners-block > #_our-doners {
	justify-content: space-around;
	width: 900px;
	margin: 0 auto 55px;
}
#_home-page > .content > #_our-doners-block > #_our-doners > div {
	flex: 1;
	/*border: 1px solid;*/
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#_home-page > .content > #_our-doners-block > #_our-doners > div > img {
	width: 90%;
	height: 100%;
	object-fit: scale-down;
}

#_map-page > .content > .hot-line-block {
	position: relative;
	overflow: hidden;
	height: 160px;
	background: linear-gradient(91.17deg, #3F8CF6 12.59%, #1F7DFF 87.5%);
	/*border-radius: 26px 0;*/
}
#_map-page > .content > .hot-line-block:before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: .4;
	background-image: url("../img/wave.png");
	background-position: bottom;
	background-repeat: no-repeat;
}
#_map-page > .content > .hot-line-block > .content-box {
	position: absolute;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}
#_map-page > .content > .hot-line-block > .content-box > span {
	font-size: 26px;
	line-height: 42px;
	color: #FFFFFF;
	margin-right: 40px;
}
#_map-page > .content > .hot-line-block > .content-box > .tel-numbers-block {
	display: inline-block;
	font-weight: bold;
	font-size: 26px;
	line-height: 42px;
	color: #FFFFFF;
}
#_map-page > .content > .hot-line-block > .content-box > .tel-numbers-block > a {
	display: block;
}
#_map-page > .content > .info-block {
	text-align: center;
}
.content > .info-block > h4 {
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	margin: 0 0 20px;
}
.content > .info-block > p {
	margin: 0 0 30px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #828282;
}
.info-block > p > a {
	display: inline-block;
	width: 200px;
	color: #828282;
}
.map-box {
	width: 1064px;
	height: 670px;
	background: #3F8CF6;
	margin: 0 auto;
}


#_news-page  > .content > .buttons-box > button {
	margin: 0;
}
#_news-page  > .content > .buttons-box > button:nth-child(2) {
	margin: 0 22px;
}

#_news-page  > .content > #_news-box {
	margin: 60px 0 70px;
}
.content > .gallery-box > figure {
	width: 32.28%;
	box-sizing: border-box;
	margin: 0 0 20px 0;
}
#_news-page  > .content > .gallery-box > figure > a:nth-child(2) {
	margin: 0 20px;
}
#_news-page > .content > #_news-box > figure .heading {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin: 10px 0;
}
.content > .detailed-info-items-box > figure .img-box {
	height: 250px;
}
.supporting-info {
	color: #828282;
	font-size: 12px;
	line-height: 18px;
}
.content figure .txt {
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0 0 0;
	max-height: 72px; /*for IE*/
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

#_articles-page,
#_reports-page {
	background-color: #F8FbFF;
}
.downloaded-content-container {
	margin: 90px 0 70px;
}
figure.downloaded-content {
	flex: 1;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 26px 0;
	margin: 0;
	padding: 30px 25px 40px;
}
figure.downloaded-content:nth-child(2) {
	margin: 0 20px;
}
figure.downloaded-content > .pdf-size-box > .img-box {
	display: inline-block;
	width: 21px;
	float: left;
	margin-right: 8px;
	border-radius: 0;
}
figure.downloaded-content > .title {
	font-size: 16px;
	line-height: 26px;
	margin: 22px 0;
}
.calendar-icon {
	margin-right: 10px;
	color: #828282;
}
figure.downloaded-content > .download-btn-box {
	margin: 22px 0 0;
}
figure.downloaded-content> .download-btn-box >  a {
	display: inline-block;
}
figure.downloaded-content > .download-btn-box >  a > .download-btn-txt {
	color: #3F8CF6;
	font-size: 12px;
	line-height: 14px;
	float: left;
	margin: 8px 10px 0 0;
}
figure.downloaded-content > .download-btn-box > a > .download-btn {
	font-size: 28px;
	color: #3F8CF6;
	float: right;
}

#_gallery-page > .content > .content-box {
	margin: 70px 0;
}
#_gallery-page > .content > .content-box > div {
	flex: 1;
	border: 1px solid;
}
iframe  {
	width: 100%;
	border-radius: 26px 0;
}
#_gallery-page > .content > .content-box > div:nth-child(1) > p {
	font-size: 16px;
	line-height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
#_gallery-page > .content > .content-box > div:nth-child(1) {
	margin: 0 10px 0 0;
}
#_gallery-page > .content > .content-box > div:nth-child(2) {
	flex-wrap: wrap;
	margin: 0 0 0 10px;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box {
	width: 48.41%;
    height: 49%;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box > img {
	width: auto;
	height: 100%;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(odd) {
	margin: 0 10px 0 0;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(even) {
	margin: 0 0 0 10px;
}
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(3),
#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box:nth-child(4) {
	margin-top: 10px;
}
#_gallery-page > .content > .buttons-box > button {
	margin: 0;
}
#_gallery-page > .content > .buttons-box > button:nth-child(2) {
	margin: 0 20px;
}

#_announcement-page {
	background-color: #F8FbFF;
}
#_announcement-page > .content > #_announcements-box {
	flex-flow: column wrap;
	counter-reset: brick;
	width: 100%;
	max-height: 1600px;
	overflow-x: hidden;
	margin: 0 0 74px;
}
#_announcement-page > .content > #_announcements-box > figure {
	width: 32.3%;
	min-height: 200px;
	max-height: 596px;
	margin: 0 20px 40px 0;
}

#_faq-page > .content > #_faq-box {
	width: 80%;
	margin: 57px auto 70px;
}
#_faq-page > .content > #_faq-box > figure {
	margin: 10px 0 0;
	border-bottom: 1px solid #F2F2F2;
}
#_faq-page > .content > #_faq-box > figure > .icon-box {
	align-self: stretch;
}
#_faq-page > .content > #_faq-box > figure p {
	margin: 0 0 30px 0;
}
#_faq-page > .content > #_faq-box > figure > .question-box {
	font-size: 18px;
	line-height: 28px;
	cursor: pointer;
}
#_faq-page > .content > #_faq-box > figure > .question-box > .icon-box {
	margin: 0 20px 0 0;
	padding: 10px 0 0 0;
}
.rotated-icon {
	font-size: 29px;
	color: #3F8CF6;
	animation: rotate-x-back 1s;
}
.rotate-x {
	animation: rotate-x 1s;
	animation-fill-mode: forwards;
}
#_faq-page .buttons-box > button:nth-child(2),
#_faq-page .buttons-box > button:nth-child(3) {
	margin: 0 20px;
}
@keyframes rotate-x {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(45deg);
	}
}
@keyframes rotate-x-back {
	0% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0);
	}
}
.rotate-v {
	animation: rotate-v 1s;
	animation-fill-mode: forwards;
}
@keyframes rotate-v {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-180deg);
	}
}
#_faq-page > .content > #_faq-box > figure > .response-box {
    display: none;
	height: 150px;
	overflow: hidden;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 0 45px;
}

#_reviews-page > .content > #_reviews-box figure {
	border-radius: 26px 0;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	padding: 30px 25px 40px;
}
#_reviews-page > .content > #_reviews-box figure.slick-slide {
	margin: 0 20px 0 0;
	max-width: 492px;
	max-height: 360px;
}
#_reviews-page > .content > #_reviews-box figure.slick-slide.slick-active:hover,
#_reviews-page > .content > #_reviews-box figure.slick-slide.slick-active:active,
#_reviews-page > .content > #_reviews-box figure.slick-slide.slick-active:focus,
#_reviews-page > .content > #_reviews-box figure.slick-slide.slick-cloned:focus {
	outline: none;
	border: 1px solid #3F8CF6 !important;
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper {
	height: 450px;
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-prev,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next {
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
	margin: 0 auto;
	z-index: 1;
	width: 28px;
	height: 28px;
	border: 1px solid transparent;
	border-radius: 50px;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	overflow: hidden;
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-prev:before,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
	margin: 0 auto;
	color: #3F8CF6;
	font-size: 32px;
	opacity: 1;
	-webkit-transform: translate(-3px, 5px);
	transform: translate(-3px, 5px);
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper >.slick-prev:hover:before,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-prev:focus:before,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next:hover:before,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next:focus:before {
	color: #316ADC;
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-prev {
	right: 40px;
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next {
	left: 40px;
}
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-prev:hover,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next:hover,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-prev:focus,
#_reviews-page > .content > #_reviews-box > .slider-wrapper > .slick-next:focus {
	border: 1px solid #316ADC;
}
#_reviews-page > .content > #_reviews-box figure > .img-box.reviewer-img-box {
	position: relative;
	width: 59px;
	height: 59px;
	border-radius: 50px;
	margin: 0 auto;
}
#_reviews-page > .content > #_reviews-box figure > .img-box.reviewer-img-box > img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	margin: 0 auto;
}
#_reviews-page > .content > #_reviews-box figure > .content-box > .img-box.quote-right,
#_reviews-page > .content > #_reviews-box figure > .content-box > .img-box.quote-left {
	border-radius: 0;
	width: 25px;
}
#_reviews-page > .content > #_reviews-box figure > .content-box > .img-box.quote-right {
	float: left;
}
#_reviews-page > .content > #_reviews-box figure > .content-box > .img-box.quote-right {
	float: right;
}
#_reviews-page > .content > #_reviews-box figure > .content-box > .img-box.quote-right > img {
	transform: rotate(180deg);
}
#_reviews-page > .content > #_reviews-box figure > .content-box {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
#_reviews-page > .content > #_reviews-box figure > .content-box > p {
	padding: 0 15px;
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 61px 0;
	height: 130px;
	overflow-y: auto;
}
#_reviews-page > .content > #_reviews-box figure > .supporting-info {
	display: block;
	text-align: center;
}

footer {
	background-color: #3F8CF6;
	margin: 30px 0 0 0;
	padding: 0 0 43px 0;
}
footer > #_img-bg {
	background-image: url("../img/wave-footer.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 132px;
	margin-bottom: 80px;
}
footer > .content > .content-box {
	justify-content: space-between;
	padding: 0 0 40px 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #F2F2F2;
}
footer > .content .buttons-box {
	text-align: left;
}
footer > .content > .content-box > .footer-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer > .content > .content-box > .footer-column > .top-box {
	margin: 0 0 24px 0;
}
footer > .content > .content-box > .footer-column .title:first-child {
	margin: 0 0 20px  0;
}
footer > .content .title > a {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
footer > .content p {
	margin: 0;
	line-height: 25px;
	font-size: 14px;
	color: #FFFFFF;
}
footer > .content p > a {
	font-size: 14px;
	color: #FFFFFF;
}
footer > .content p > span {
	color: inherit;
	font-size: inherit;
}
footer > .content > .content-box > .footer-column > .media-box > .media-item {
	position: relative;
	display: inline-block;
	height: 28px;
	width: 28px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	text-align: center;
	margin: 0 14px 0 0;
}
footer > .content > .content-box > .footer-column > .media-box > .media-item:last-child {
	margin: 0;
}
footer > .content > .content-box > .footer-column > .media-box > .media-item > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
footer > .content > .content-box > .footer-column > .media-box > .media-item > a > i {
	margin: 6px 0;
	color: #FFFFFF;
}
footer > .content > #_all-rights-reserved-line > p {
	display: inline-block;
}
footer > .content > #_all-rights-reserved-line > p:first-child {
	float: left;
}
footer > .content > #_all-rights-reserved-line > p:last-child {
	float: right;
}

/*...................................***SEPARATE PAGES***...................................*/


/*...................................ABOUT US...................................*/
#_about-us-main-page {
    position: relative;
    min-height: 764px;
    padding-bottom: 0;
}
#_about-us-main-page > .content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: inherit;
}
#_our-team-page > .content > .gallery-box > figure > .img-box {
    height: 413px;
}

#_our-mission-page > .content > .gallery-box {
    margin: 50px 0 0 0 ;
}
#_our-mission-page > .content > .gallery-box > figure > .img-box {
    height: 250px;
}
#_our-mission-page > .content > .gallery-box > figure > .title {
    margin: 10px 0 40px 0;
}

#_coalitions-page > .content > .info-block,
#_work-page > .content > .info-block {
    margin: 0 0 70px 0;
}
/*...................................THE END...................................*/

/*...................................ANNOUNCEMENTS...................................*/
#_announcements-heading-box {
    position: relative;
}
#_announcements-box > .content > .gallery-box > figure .img-box {
    height: 250px;
}
/*...................................THE END...................................*/

/*...................................ANNOUNCEMENT...................................*/
#_announcement-item {
    position: relative;
    height: 368px;
}
#_announcement-content {
    position: relative;
}
#_announcement-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: 0 auto;
}
#_announcement-img > .content > .img-box {
    max-height: 520px;
}
#_announcement-content {
    margin-top: 155px;
}
#_announcement-content > .content > .info-block > .heading-content-wide {
    margin: 40px 150px;
}
#_announcement-content > .content > .img-box {
    margin: 40px 0;
    height: 680px;
}
/*...................................THE END...................................*/

/*...................................GALLERY...................................*/
#_gallery-items-main-list > .content > .buttons-box {
    padding: 0 0 106px;
}
#_gallery-items-main-list > .content > .flex-content {
    flex-wrap: wrap;
}
#_gallery-items-main-list > .content > .flex-content > div {
    width: 49.2%;
    overflow: hidden;
}
#_gallery-items-main-list > .content > .flex-content > div:nth-child(odd) {
    margin: 0 20px 0 0;
}
#_gallery-items-main-list > .content > .flex-content > div:nth-child(even) {
    margin: 0 0 20px 0;
}
#_gallery-items-main-list > .content > .flex-content > div .img-box > img {
    width: auto;
    height: 530px;
}
#_gallery-items-main-list > .content > .flex-content > div iframe {
    width: 100%;
}
/*...................................THE END...................................*/

/*...................................GALLERY ITEM...................................*/
#_gallery-item-box > .content.main-heading-box {
    margin-bottom: 40px;
}
/*...................................THE END...................................*/


/*...................................DONATION DETAILS...................................*/
#_donation-details-box {
    max-width: 745px;
    margin: 0 auto;
}
#_donation-details .info-block > h4 {
    font-weight: bold;
    margin-top: 40px;
}
#_donation-amount {
    width: 100%;
    padding: 17px 3px;
    background: #F7FBFF;
    border-radius: 24px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
#_donation-amount > div {
    min-width: 156px;
    width: 20%;
    height: 86px;
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 21px 14px;
    cursor: pointer;
}
#_donation-amount > div:hover {
    background: #3F8CF6;
    color: #FFFFFF;
}
.selected-donation-amount {
    background: #FC4E58 !important;
    color: #FFFFFF !important;
}
#_donation-amount > div:last-child {
    flex: 2;
    width: auto;
    max-width: 100%;
    overflow: hidden;
}
#_donation-amount > div:last-child:hover {
    background: #FFFFFF;
}
#_donation-amount > div.clear > input {
    padding: 15px;
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

#_donation-amount > div:last-child.selected-donation-amount {
    background: #FFFFFF !important;
}
#_recurrence-select-box {
    position: relative;
}
#_recurrence-select-box > #_recurrence-select {
    cursor: pointer;
}
#_recurrence-select-box > #_recurrence-select > i {
    float: right;
    padding: 5px 0;
    color: #3F8CF6;
    font-size: 16px;
}
#_recurrence-select-box > p {
    margin: 20px 0 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    cursor: auto;
}
#_recurrence-select-box > #_select-options-box {
    position: absolute;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border: 1px solid #F2F2F2;
    overflow: hidden;
    background: #FFFFFF;
    width: 100%;
    top: 87px;
    display: none;
    cursor: pointer;
	box-shadow: 0 2px 5px 0px #F2F2F2;
}
#_recurrence-select-box > #_select-options-box > div {
    padding: 15px 49px;
    border-bottom: 1px solid #F2F2F2;
}
#_recurrence-select-box > #_select-options-box > div:hover {
    background: #3F8CF6;
    color: #FFFFFF;
}
#_recurrence-select-box > #_select-options-box > div:last-child {
    border-bottom: none;
}
#_anonymous-donation-box > label {
	display: flex;
	align-items: center;
    font-size: 14px;
    line-height: 24px;
}
input[type="checkbox"] {
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 2px;
	background: #FFFFFF;
	height: 50px;
	width: 50px;
	margin: 0 20px 0 0;
	cursor: pointer;
}
#_donator-details {
    justify-content: space-between;
    flex-wrap: wrap;
}
#_donator-details > div {
    width: 48%;
    margin-bottom: 20px;
}
#_donator-details > div:nth-child(odd) {
    margin-right: 20px;
}
#_donator-details > div:last-child {
    margin-left: auto;
    margin-right: 0;
}
#_donator-details > div > label {
    display: none;
}
/*...................................THE END...................................*/

/*...................................CONTACTS...................................*/
#_contacts-box {
    max-width: 745px;
    margin: 0 auto;
}
/*...................................THE END...................................*/

/*...................................FAQS...................................*/
#_faqs-heading-box {
    position: relative;
}

/*...................................THE END...................................*/

@media only screen
	and (max-device-width: 1064px) {
	.map-box {
		width: 100%;
	}
}
@media only screen
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	.info_header {
		display: none;
	}
	.header-content {
		display: none;
		position: absolute;
		margin: 0;
		flex-direction: column;
		align-items: flex-start;
		top: 77px;
		left: 0;
		right: 0;
		width: auto;
		z-index: 2;
		padding: 25px 15px 15px;
	}
	.nav > ul {
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	.nav > ul > li {
		margin: 0 0 10px 0;
	}
	.nav > ul > li > a {
		font-size: 18px;
	}
	.nav > ul > li > a > img {
		margin-left: 5px;
	}
	.header_wrap > .logo {
		flex: 2;
		margin-left: 20px;
	}
	.social_nav >ul >li:nth-child(1) {
		margin-left: 0;
	}
	.lang_drop {
		position: absolute;
		right: 15px;
		top: 25px;
	}
	.donate_btn {
		width: 113px;
		margin-right: 20px;
	}
	.menu-icon-box {
		display: inline-block;
		margin-right: 20px;
	}

	section {
		padding: 0 20px 0;
	}
	button {
		min-width: 73px;
	}
	button > a {
		padding: 16px 5px;
	}
	#_home-page {
		padding-top: 20px;
	}
	#_home-page > .content > .content-box {
		flex-direction: column;
	}
	#_home-page > .content > .content-box > div:nth-child(1) > h2 {
		font-size: 18px;
		line-height: 32px;
		margin: 20px 0;
	}
	#_home-page > .content > .content-box > div:nth-child(1) > p {
		margin: 0 0 20px;
	}
	#_home-page button {
		width: 46.6%;
	}
	#_ellipse {
		position: absolute;
		bottom: auto;
		right: auto;
		z-index: -1;
		width: 440px;
	}
	#_home-page > .content > .content-box > div:nth-child(2) > .img-box {
		width: auto;
		margin-top: 25px;
	}
	#_home-page > .content > .content-box {
		margin-bottom: 20px;
	}
	#_home-page > .content > #_our-doners-block > #_our-doners {
		width: 100%;
		flex-wrap: wrap;
		margin: 0 auto 40px;
	}
	#_home-page > .content > #_our-doners-block > #_our-doners > div {
		flex: auto;
	}
	#_home-page > .content > #_our-doners-block > p {
		margin: 0;
	}
	#_map-page > .content > .hot-line-block > .content-box {
		flex-direction: column;
	}
	#_map-page > .content > .hot-line-block > .content-box > span {
		font-weight: normal;
		font-size: 18px;
		line-height: 42px;
		margin: 0 0 20px;
	}
	#_map-page > .content > .hot-line-block > .content-box > .tel-numbers-block {
		font-size: 20px;
		line-height: 28px;
	}
	#_map-page > .content > .hot-line-block > .content-box > .tel-numbers-block > a {
		margin-bottom: 15px;
	}
	#_map-page > .content > .hot-line-block:before {
		background-size: contain;
	}
	.content > .info-block {
		margin-top: 40px;
	}
	.content > .info-block > h4 {
		font-size: 18px;
		line-height: 26px;
		margin: 0 0 10px;
	}
	.map-box {
		height: 200px;
	}
	#_news-page {
		margin-bottom: 40px;
	}
	#_news-page > .content > #_news-box {
		margin: 30px 0 0;
	}
	#_news-page > .content > .buttons-box {
		flex-direction: row;
	}
	#_news-page > .content > .buttons-box > button:nth-child(2) {
		margin: 0 0 0 16px;
	}
	#_news-page > .content > .buttons-box > button:nth-child(3) {
		margin-top: 20px;
	}
	.content > .detailed-info-items-box > figure .img-box {
		height: 200px;
	}
	.content > .gallery-box > figure:nth-child(3n + 2) {
		margin: 0 0 30px;
	}
	.content > .gallery-box > figure {
		width: 100%;
		margin-bottom: 30px;
	}
	#_articles-page {
		padding-bottom: 40px;
	}
	.downloaded-content-container {
		margin: 40px 0;
		flex-wrap: wrap;
	}
	figure.downloaded-content {
		flex: auto;
		width: 100%;
	}
	figure.downloaded-content:nth-child(2) {
		margin: 0;
	}
	#_gallery-page > .content > .buttons-box > button:nth-child(2) {
		margin: 0 16px;
	}
	#_gallery-page > .content > .content-box {
		margin: 30px 0;
		flex-direction: column;
	}
	#_gallery-page > .content > .content-box > div:nth-child(1) {
		margin: 0;
	}
	#_gallery-page > .content > .content-box > div:nth-child(2) {
		margin: 0;
		height: 194px;
	}
	iframe {
		height: 280px;
	}
	#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box {
		width: 46.9%;
		height: 137px;
	}
	#_gallery-page > .content > .content-box > div:nth-child(2) > .img-box > img {
		width: 100%;
		height: auto;
	}
	#_announcement-page > .content > #_announcements-box {
		height: auto;
	}
	#_announcement-page > .content > #_announcements-box > figure {
		width: 100%;
	}

}